@model Midas_Models.Accounts.UserDetail

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>User Detail</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayName("User Name")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastLogin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastLogin)
        </dd>
    </dl>
</div>

<div class="card">
    <div class="card-header">
        <h3>User Roles:</h3>
    </div>
    <div class="card-body">
        <ul>
            @if (Model.Roles.Any())
            {
                foreach (var role in Model.Roles)
                {
                    <li>
                        <h5 class="card-title">@role</h5>
                    </li>
                }
            }
            else
            {
                <li>
                    <h5 class="card-title">This user has not been assigned a role</h5>
                </li>
            }
        </ul>
    </div>
    <div class="card-footer">
        <a asp-controller="Admin" asp-action="Index" class="btn btn-primary" style="width:auto">Role List</a>
    </div>
</div>

<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    <a asp-action="Index">Back to List</a>
</div>
